* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  #image{
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;                     
  }
  body {
  background-image: url('https://i.pinimg.com/736x/fe/78/b5/fe78b52c9cb94ad7ff2098ac4644b8ca.jpg');
  background-size: cover;
  }
  
  main{
  width: 100%;
  display: flex;
  flex-direction: column;
  }
  
  h1, h2, h3, h4, h5 {
    color: #190E02;
    text-shadow: 1px 2px 2px #5E3508;
    text-align: center;
  }
  
  h2, h3, h4, h5{
    font-size: 25px;
  }
  
  h1{
    font-size: 40px;
    
  }
  
  p, li{
    text-align: justify;
    font-size: 20px;
    color: #382005;
  }
  figcaption {
    text-align: center;
    color: #382005;
    font-size: 17px;
    margin-left: 100px;
    margin-right: 100px;

  }
  
  footer, footer a {
    text-align: justify;
    font-size: 25px;
    color:#301C04; 
  
  }
  
  #last{
    font-size: 25px;
  }

  iframe{
    aspect-ratio: 16 / 9;
    width: 100%;
    
  }
/* Mobile */
  @media (max-width: 768px) {
    * {
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    margin: 0 auto;
    padding: 0 ;

    position: static;
    left: auto;
    right: auto;

    transform: none;
  }
    
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  h2, h3, h4, h5 {
    font-size: 20px;
    
  }
  p, li, figcaption, footer, footer a,{
    font-size: 15px;   
  }
  
  } 
      
